.business{
} 

.businessList--all {
}

.businessList--newYork {
} 

.businessList--manufacturing {
}

.business__name{
}

.business__address {
}

.list--item {
    border-bottom: 3px solid grey
}

.agent__company, .agent__phone {
        font-weight: bold;
        line-height: 2em;
    }